/*CTRL z*/

.menu {
    width: 100%;
    height: 58px;
    border-radius: 12px 12px 0 0;
    background: #FFF;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: -58px;
    margin: 0;
}

.nav {
    width: 100%;
    padding: 0 1.5rem;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cinza-claro);
    font-size: 12px;
}

.menu-button:first-child {
    color: var(--azul);
}

.icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.consultas-icon {
    background-image: url(/img/Calendarioicone.svg);
}

.clientes-icon {
    background-image: url(/img/clientes-icone.svg);
    opacity: 30%;
}

.relatorios-icon {
    background-image: url(/img/relatorios-icone.svg);
    opacity: 30%;
}

.menu-icon {
    background-image: url(/img/menu-icone.svg);
    opacity: 30%;
}

@media screen and (min-width: 850px) {
    .nav ul {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1365px) {
    .menu {
        top: 0;
        height: 100%;
        width: 180px;
    }

    .nav {
        height: 100%;
        width: 100%;
        padding: 1rem 0;
    }

    .nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-button {
        width: 95%;
        justify-content: flex-start;
        padding: 1.5rem 0;
        flex-direction: row;
        font-size: 16px;
    }

    .menu-button:hover {
        background-color: rgba(0, 0, 0, 0.014);
        cursor: pointer;
        transform: scale(1.1);        
    }

    .icon {
        padding: 0 1.5rem;
    }

    main {
        margin: 0 14rem;
    }

    .header {
        margin: 0 14rem;
    }
}